<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="account">
    <div class="container">
        <a class="navbar-brand" routerLink="/">IPT 2026</a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item" *ngIf="account.role === 'Admin'">
                <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor:pointer" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container pt-4">
    <alert></alert>
    <router-outlet></router-outlet>
</div>